body, html{
    padding: 0;
    margin:0;
    background-color: #272727;
    font-family: 'Montserrat', sans-serif;
}
header{
    font-size: 30px;
    background-color: #2250AA;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(198, 149, 157);
}
h2{
    color: #fff;
    text-align: center;
}
/* Create three equal columns that floats next to each other */
* {
    box-sizing: border-box;

  }
.column {
    float: left;
    width: 31%;
    padding: 10px;
    height: 380px; /* Should be removed. Only for demonstration */
    margin-right: 10px;
  }
.column img{
    width: 100%;
}
.column img:hover{
    filter: grayscale(1);
    transition: 0.5s ease-in-out;
}
#first{
    background-color: white;
}
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}